<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div class="table-container">
<button type="button" routerLink="add" mat-raised-button color="primary">Add Post</button>
<table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td class="mat-cell-id" routerLink="{{row.id}}" mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>
      <ng-container matColumnDef="completed">
        <th class="mat-header-cell-completed" mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let row"> {{row.completed}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let row"> 
          <a mat-raised-button routerLink="{{row.id}}" >Details</a>
          <a class="editButton" mat-raised-button routerLink="{{row.id}}/edit">Edit</a>
          <button class="deleteButton" mat-raised-button type="button" (click)="confirmDelete(row.id)">Delete</button>
        </td>
      </ng-container>     
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
</mat-paginator>
</div>
