<div class="postFormContainer">
<form class="postForm" [formGroup]="postForm" (ngSubmit)="updatePost()">
    <mat-form-field appearance="fill">
        <mat-label for="userId">User id</mat-label>
        <input readonly="true" id="userId" type="text" matInput formControlName="userId">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="id">Id</mat-label>
        <input  readonly="true" id="id" type="text" matInput formControlName="id">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="title">Title</mat-label>
        <input id="title" type="text" matInput formControlName="title">
      </mat-form-field>
    <mat-checkbox aria-label="completed" formControlName="completed">Completed</mat-checkbox>
    <button mat-raised-button color="primary" type="submit">Update</button>
    <button mat-raised-button color="primary" (click)="goBack()" type="button">Cancel</button>
</form>
</div>

